* {
  box-sizing: border-box;
  line-height: normal;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
* ::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}
* ::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border: 5px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
}
